<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header text-center">{{ operacion }} Chef</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addDetalleCompra()">
                    <input formControlName="proveedor" type="text" class="form-control" placeholder="Ingrese el nombre del proveedor">
                    <span *ngIf="form.get('proveedor')?.hasError('required') && form.get('proveedor')?.touched">
                        El campo proveedor es <strong>requerido</strong>
                    </span>
                    <input formControlName="encargado_compra" type="text" class="form-control mt-2" placeholder="Ingrese el nombre del encargado de compras">
                    <span *ngIf="form.get('encargado_compra')?.hasError('required') && form.get('encargado_compra')?.touched">
                        El campo encargado de compras es <strong>requerido</strong>
                    </span>
                    <input formControlName="numero_factura" type="text" class="form-control mt-2" placeholder="Ingrese el numero de la factura">
                    <span *ngIf="form.get('numero_factura')?.hasError('required') && form.get('numero_factura')?.touched">
                      El campo factura es <strong>requerido</strong>
                    </span>
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button routerLink="/detalleCompras" type="button" class="btn btn-secondary">Volver</button>
                        </div>
                        <div class="col-lg-6">
                            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

